# index.html.erb

<% @ingredients.each do |ingredient| %>
  <div class="row">
     <div class="col-md-4 col-sm-4">
      <p><%= ingredient.name %>
      <p><%= ingredient.brand %>
      <p><%= ingredient.image %>
    </div>
  </div>
<% end %>